<!doctype html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SEMST Panel Administracion</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="css/core/libs.min.css" />
    <!-- Aos Animation Css -->
    <link rel="stylesheet" href="vendor/aos/dist/aos.css" />
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="css/hope-ui.min.css?v=2.0.0" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="css/custom.min.css?v=2.0.0" />
    <!-- Dark Css -->
    <link rel="stylesheet" href="css/dark.min.css" />
    <!-- Customizer Css -->
    <link rel="stylesheet" href="css/customizer.min.css" />
    <!-- RTL Css -->
    <link rel="stylesheet" href="css/rtl.min.css" />
    <!--Mis estilos personalizados-->
    <link rel="stylesheet" href="css/custom-style.css">

    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/styles/ag-theme-alpine.css"/>
    <!-- Tema Quartz de AG Grid -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ag-grid-community/core/dist/styles/ag-theme-quartz.css">
    <!-- CSS base de AG Grid -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ag-grid-community/core/dist/styles/ag-grid.css">

     <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
     <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>

</head>
<body>
    <%- body %> 
    <!--Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Library Bundle Script -->
    <script src="js/core/libs.min.js"></script>
    <!-- External Library Bundle Script -->
    <script src="js/core/external.min.js"></script>
    <!-- Widgetchart Script -->
    <script src="js/charts/widgetcharts.js"></script>
    <!-- mapchart Script -->
    <script src="js/charts/vectore-chart.js"></script>
    <script src="js/charts/dashboard.js"></script>
    <!-- fslightbox Script -->
    <script src="js/plugins/fslightbox.js"></script>
    <!-- Settings Script -->
    <script src="js/plugins/setting.js"></script>
    <!-- Slider-tab Script -->
    <script src="js/plugins/slider-tabs.js"></script>
    <!-- AOS Animation Plugin-->
    <script src="vendor/aos/dist/aos.js"></script>
    <!-- App Script -->
    <script src="js/hope-ui.js" defer></script>
    <!-- Form Wizard Script -->
    <script src="js/plugins/form-wizard.js"></script>

    <!--Custom script-->
    <!-- <script src="js/custom.js"></script> -->
    <!-- <script src="js/formValidation.js"></script> -->


     <!--Modulos de prueba-->
    <script type="module" src="/js/principal.js"></script>
    <script type="module" src="/js/cargaDeDatos.js"></script>
    <script type="module" src="/js/formValidatioon.js"></script>
    <!-- <script type="module" src="/js/modules/Datatable/dataTableInit.js"></script> -->
</body>
    
</html>