<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Proceso en tránsito</th>
                    <th class="text-center">Observaciones</th>
                    <th class="text-center">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (procesos && procesos.length > 0) { %>
                    <% procesos.forEach(proceso => { %>
                        <tr>
                            <td class="text-primary text-center fs-8">
                                <%= {
                                    'becas_comision': 'Becas Comisión',
                                    'docentes_disponibles': 'Docentes Disponibles',
                                    'incidencias': 'Incidencias',
                                    'nombramientos': 'Nombramientos',
                                    'salud_inseguridad': 'Salud e Inseguridad',
                                    'solicitudes_de_cambio': 'Solicitudes de Cambio',
                                    'licencia_sin_goce': 'Licencia sin goce',
                                    'solicitudes_generales': 'Solicitudes Generales'
                                }[proceso.tabla] || proceso.tabla %>
                            </td>
                            <td class="text-wrap">
                                <% if (proceso.observaciones) { %>
                                  <%= proceso.observaciones %>
                                <% } else { %>
                                  Sin observaciones
                                <% } %>
                              </td>
                            <td class="text-center">
                                <a href="/<%= proceso.tabla.replace('_', '-')
                                .replace('becas-comision', 'beca-comision')
                                .replace('salud-inseguridad', 'salud')
                                .replace('salud-inseguridad', 'salud')
                                .replace('licencia-sin_goce', 'licencias-sin-goce')
                                .replace('nombramientos', 'nombramientos-docentes') 
                                .replace('solicitudes-de_cambio', 'cambio') %>"                             
                                class="btn btn-primary btn-sm">Ver más</a>

                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="2" class="text-center">No hay procesos en tránsito disponibles.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
