<div class="col-lg-6 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-center">
                <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                    <div class="fs-italic">
                        <h5> Regina Miles</h5>
                        <div class="text-muted-50 mb-1">
                            <small>Trainer Expert</small>
                        </div>
                    </div>	
                   
                    <div class="card-profile-progress">
                        <div id="circle-progress-1" class="circle-progress  circle-progress-basic circle-progress-primary" data-min-value="0" data-max-value="100" data-value="80" data-type="percent"></div>
                        <img src="/images/avatars/01.png" alt="User-Profile" class="theme-color-default-img img-fluid rounded-circle card-img">
                    <div class="mt-3 text-center text-muted-50">
                        <p>Slate helps you see how many more days you need</p>
                    </div>
                   

<!-- 
                    <div class="card">
                        <div class="card-header  text-center">
                           <div class="header-title text-center">
                              <h4 class="card-title ">Datos</h4>
                           </div>
                        </div>
                        <div class="card-body">
                           <div class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative">
                              <ul class="list-inline p-0 m-0">
                                 <li>
                                    <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                                    <h6 class="float-left mb-1">Client Login</h6>
                                    <small class="float-right mt-1">24 November 2019</small>
                                    <div class="d-inline-block w-100">
                                       <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="timeline-dots timeline-dot1 border-success text-success"></div>
                                    <h6 class="float-left mb-1">Scheduled Maintenance</h6>
                                    <small class="float-right mt-1">23 November 2019</small>
                                    <div class="d-inline-block w-100">
                                       <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="timeline-dots timeline-dot1 border-danger text-danger"></div>
                                    <h6 class="float-left mb-1">Dev Meetup</h6>
                                    <small class="float-right mt-1">20 November 2019</small>
                                    
                                 </li>
                                 <li>
                                    <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                                    <h6 class="float-left mb-1">Client Call</h6>
                                    <small class="float-right mt-1">19 November 2019</small>
                                    <div class="d-inline-block w-100">
                                       <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="timeline-dots timeline-dot1 border-warning text-warning"></div>
                                    <h6 class="float-left mb-1">Mega event</h6>
                                    <small class="float-right mt-1">15 November 2019</small>
                                    <div class="d-inline-block w-100">
                                       <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                    </div> -->
                   
                </div>
            </div>
        </div>
        </div>
    </div>
</div>