<div class="container-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="container text-center">
                    <h4 class="text-responsive mb-3 mt-3">Licencia Sin Goce</h4>
                    <div class="row justify-content-center gx-2" 
                    <<% if (role !== 'admin' && role !== 'super-admin') { %> style="display: none;" <% } %> 

                    <!-- Botón Nuevo -->
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary rounded-pill w-auto"
                            data-bs-toggle="modal" data-bs-target="#nuevoRegistroModal" data-action="nuevo"
                            style="padding: 4px 12px; font-size: 12px;" class="btn-sm">
                            Nuevo
                        </button>
                    </div>
                
                    <!-- Botón Activar Edición -->
                    <div class="col-auto">
                        <button id="toggleEditMode" class="btn btn-primary rounded-pill w-auto"
                            style="padding: 4px 12px; font-size: 12px;">
                            <i class="fas fa-edit me-1"></i> Activar Edición
                        </button>
                    </div>
                
               
               
                </div>
                
                    
                </div>
                <div class="card-body">
                    <div class="test-container">
                        <div class="test-header d-flex align-items-center">
                            <!-- Radio para 'Todos' -->
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="filter" id="all" onchange="externalFilterChanged('all')" checked>
                                <label for="all" class="form-check-label pl-2">Todos</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="filter" id="cctsSaleEntra" onchange="externalFilterChanged('cctsSaleEntra')">
                                <label for="cctsSaleEntra" class="form-check-label pl-2">Filtrar</label>
                            </div>
                            <% if (role === 'admin' || role === 'super-admin') { %>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="filter" id="funcionDelete" onchange="externalFilterChanged('funcionDelete')">
                                    <label for="funcionDelete" class="form-check-label pl-2">Borrar entradas</label>
                                </div>
                            <% } %>
                            
                            
                        </div>
                        <div id="myGrid" class="ag-theme-quartz" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <!--Crear-->
<div class="modal fade" id="nuevoRegistroModal"  tabindex="-1" aria-labelledby="nuevoRegistroModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <!-- Se usa modal-xl para más espacio -->
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="nuevoRegistroModalLabel">
                      Nueva entrada
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <!-- Columna izquierda para el perfil -->
                      <div class="col-xl-3 col-lg-4 mb-3">
                          <div class="card">
                              <div class="card-header d-flex justify-content-between">
                                  <div class="header-title">
                                      <h4 class="card-title">Perfil</h4>
                                  </div>
                              </div>
                              <div class="card-body">
                                  <div class="form-group">
                                      <div class="profile-img-edit position-relative text-center">
                                          <img src="images/avatars/01.png" alt="profile-pic"
                                              class="profile-pic rounded-circle img-fluid w-100 mb-3" />
                                      </div>
                                      <div class="img-extension mt-3">
                                          <small class="text-muted text-center">Datos adicionales</small>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Columna derecha para el formulario -->
                      <div class="col-xl-9 col-lg-8">
                          <div class="card">
                              <div class="card-header d-flex justify-content-between">
                                  <div class="header-title">
                                      <h4 class="card-title">Información del nuevo usuario</h4>
                                  </div>
                              </div>

                              <div class="card-body">
                                  <form id="formRegistro" action="/guardarRegistro" method="POST" class="small">
                                      <input type="hidden" name="tabla" value="licencia_sin_goce" />
                                      <div class="row">
                                        
                                          <!-- Personal ID y Nombre del Docente -->
                                          <div class="row">
                                              <div class="form-group col-md-2">
                                                  <label for="personal_id" class="form-label">ID:</label>
                                                  <input type="text" class="form-control" id="personal_id"
                                                      name="personal_id" placeholder="" autocomplete="off" />
                                              </div>
                                              <div class="form-group col-md-10">
                                                <label for="nombre_docente" class="form-label">Nombre del
                                                    personal:</label>
                                                <input type="text" class="form-control" id="nombre_docente"
                                                    name="nombre_docente" placeholder="Escriba un nombre"
                                                    autocomplete="off" />
                                                <ul id="suggestionsList" class="list-group position-absolute w-100"
                                                    style="z-index: 1000"></ul>
                                            </div>
                                          </div>
                                           <!-- Fecha, Antigüedad y Teléfono -->
                                          <div class="form-group col-md-6 col-lg-6">
                                            <label for="telefono" class="form-label">Teléfono:</label>
                                            <input type="text" class="form-control" id="telefono" name="telefono"
                                                placeholder="" />
                                        </div>
                                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                            <label for="antiguedad" class="form-label">Antigüedad:</label>
                                            <input type="text" class="form-control" id="antiguedad"
                                                name="antiguedad" placeholder="" />
                                        </div>

                                         <!-- Sección de CCT Sale -->
                                         <div class="div">
                                            <h2 class="h6 mb-2 mt-2 text-center">CCT </h2>
                                        </div>
                                        <hr class="hr-horizontal mb-4" />
                                        <div class="form-group col-md-4">
                                            <label for="municipio_sale" class="form-label">Municipio:</label>
                                            <input type="text" class="form-control" id="municipio_sale"
                                                placeholder="" readonly />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="comunidad_sale" class="form-label">Comunidad:</label>
                                            <input type="text" class="form-control" id="comunidad_sale"
                                                placeholder="" readonly />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="cct_sale" class="form-label">Clave CCT:</label>
                                            <input type="text" class="form-control" id="cct_sale"
                                                placeholder="Clave CCT" readonly />
                                        </div>

                                        <hr class="hr-horizontal mb-3">
                                          

                                         
                                          <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                              <label for="fecha" class="form-label">Fecha Registro:</label>
                                              <input type="date" class="form-control" id="fecha_registro" name="fecha_registro" placeholder="" />
                                          </div>
                                          <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                            <label for="fecha" class="form-label">Fecha Documento:</label>
                                            <input type="date" class="form-control" id="fecha_documento" name="fecha_documento" placeholder="" />
                                        </div>
                                          
                                         

                                          <!-- Cobertura -->
                                          <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                              <label for="estatus_cubierta" class="form-label">Tipo de movimiento:</label>
                                              <select class="form-select form-select-sm" id="tipo_movimiento"
                                                  name="tipo_movimiento">
                                                  <option value="" selected disabled>
                                                      Selecciona una opción
                                                  </option>
                                                  <option value="LSG">LSG</option>
                                                  <option value="Incapacidad">Incapacidad</option>
                                              </select>
                                          </div>

                                          <!-- Estatus y Situación -->
                                          <div class="form-group col-md-6">
                                            <label for="estatus" class="form-label">Organización:</label>
                                            <select class="form-select form-select-sm" id="tipo_organizacion" name="tipo_organizacion">
                                                <option value="" selected disabled>
                                                    Selecciona un estatus
                                                </option>
                                                <option value="Unitaria">Unitaria</option>
                                                 <option value="Bidocente">Bidocente</option>
                                                 <option value="Tridocente">Tridocente</option>
                                                 <option value="Organización completa">Organización completa</option>
                                            </select>
                                        </div>
                                        
                                          <div class="form-group col-md-6">
                                              <label for="situacion" class="form-label">Justifica:</label>
                                              <select class="form-select form-select-sm" id="justifica" name="justifica">
                                                  <option value="" selected disabled>
                                                      Selecciona una opción
                                                  </option>
                                                  <option value="si">Si</option>
                                                  <option value="no">No</option>
                                              </select>
                                          </div>
                                          <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                            <label for="vacante" class="form-label">Vacante:</label>
                                            <select class="form-select form-select-sm" id="vacante" name="vacante">
                                                <option value="" selected disabled>Selecciona una opción</option>
                                                <option value="Cubierta">Cubierta</option>
                                                <option value="Sin cubrir">Sin cubrir</option>
                                                <option value="Sin validar">Sin validar</option>
                                            </select>
                                        </div>

                                         

                                
                                          <hr class="hr-horizontal mb-4" />


                                          <!-- Sección de CCT Entra -->
                                          <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                            <label for="inicio_movimiento" class="form-label">Inicio del Movimiento:</label>
                                            <input type="date" class="form-control" id="inicio_movimiento" name="inicio_movimiento" />
                                        </div>
                                        
                                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                                            <label for="termino_movimiento" class="form-label">Término del Movimiento:</label>
                                            <input type="date" class="form-control" id="termino_movimiento" name="termino_movimiento" />
                                        </div>
                                        
                                        <div class="form-group col-md-6">
                                            <label for="diagnostico" class="form-label">Diagnóstico:</label>
                                            <textarea class="form-control" id="diagnostico" name="diagnostico"
                                                placeholder="Escriba observaciones aquí" maxlength="50"></textarea>
                                        </div>
                                        
                                        <div class="form-group col-md-6">
                                            <label for="aviso" class="form-label">Aviso:</label>
                                            <textarea class="form-control" id="aviso" name="aviso"
                                                placeholder="Escriba observaciones aquí" maxlength="50"></textarea>
                                        </div>
                                        
                                       
                                        


                                          <!-- Observaciones -->
                                          <div class="form-group col-md-12">
                                              <label for="observaciones" class="form-label">Observaciones:</label>
                                              <textarea class="form-control" id="observaciones" name="observaciones"
                                                  placeholder="Escriba observaciones aquí" maxlength="50"></textarea>
                                          </div>
                                      </div>
                                      <button type="button" id="btnMostrarConfirmacion" class="btn btn-primary mt-3">
                                        Guardar
                                    </button>
                                  </form>

                                  <div id="seccionConfirmacion" class="mt-4" style="display: none">
                                    <h5>Confirmar Datos Ingresados</h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Aquí mostraremos el resumen de los datos -->
                                            <div id="resumenDatos"></div>
                                        </div>
                                    </div>

                                   <!--Campo entra para que no se joda el sistema--> 
                                    <div id="hiddenFields" style="display: none;">
                                        <div>
                                            <div>
                                                <label for="municipio_entra" class="form-label">Municipio:</label>
                                                <input type="text" id="municipio_entra" name="municipio_entra" disabled>
                                            </div>
                                        
                                            <div>
                                                <label for="comunidad_entra" class="form-label">Comunidad:</label>
                                                <input type="text" id="comunidad_entra" name="comunidad_entra" disabled>
                                            </div>
                                        
                                            <div>
                                                <label for="cct_entra" class="form-label">Clave CCT:</label>
                                                <input type="text" id="cct_entra" name="cct_entra" disabled>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    
                                    <div class="d-flex justify-content-end mt-3">
                                        <button type="button" id="btnEditar" class="btn btn-secondary me-2">
                                            Editar
                                        </button>
                                        <button type="button" id="btnConfirmar" class="btn btn-success">
                                            Confirmar
                                        </button>
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>

<script type="module">
    import { getStatusClass,statusRenderer,  funcionPost, borrarColumna, editarCelda, createValidatedValueSetter, createSelectColumnProps, } from "./js/AgGrid/config.js";
    import {fetchMunicipios,fetchComunidades,fetchCCTs,} from "./js/AgGrid/cargaDatos.js";
    import * as Columnas from "./js/AgGrid/columNames.js";

    let gridApi;
    let editMode = false;
   
    const estatusValidValues = ["LSG", "Incapacidad"];
    const OrgValidValues = ["Unitaria", "Bidocente", "Tridocente", "Organización completa"];
    const vacanteValidValues = ["Cubierta", "Sin cubrir", "Sin validar"];

    const datos = [
        borrarColumna('/api/deleteRecord'),
        { field: "np", headerName: "NP", width: 70, editable: false },
        {...Columnas.colFechaRegistro(), editable: () => editMode,},
        {...Columnas.colFechaDocumento(), editable: () => editMode,},
        Columnas.nombreDocente(),
        Columnas.antiguedad(),
        Columnas.telefono(),
        {field: "tipo_movimiento",headerName: "Tipo de Movimiento",  wrapHeaderText: true, 
        autoHeaderHeight: true,  cellStyle: { "white-space": "normal", "line-height": "1.7" }, editable: () => editMode, width: 120,
             ...createSelectColumnProps(estatusValidValues),},
        Columnas.municipioSale(),
        Columnas.comunidadSale(),
        Columnas.cctSale(),
        {field: "tipo_organizacion",headerName: "Organizació",  wrapHeaderText: true, 
        autoHeaderHeight: true,  cellStyle: { "white-space": "normal", "line-height": "1.7" }, editable: () => editMode, width: 120,
             ...createSelectColumnProps(OrgValidValues),},
      { headerName: "Justifica", field: "JUSTIFICA", editable: () => editMode, resizable: true, width: 90, cellEditor: 
      "agSelectCellEditor", cellEditorParams: { values: ["Si", "No"],} },
      {...Columnas.colIniciMovimiento(), editable: () => editMode,},
      {...Columnas.colTerminoMovimiento(), editable: () => editMode,},
      { headerName: "Diagnóstico", field: "DIAGNOSTICO", editable: () => editMode, resizable: true,  },       
      { headerName: "Aviso", field: "AVISO", editable: () => editMode, resizable: true, width: 120, },       
      {field: "VACANTE",headerName: "Vacante",  wrapHeaderText: true, 
        autoHeaderHeight: true,  editable: () => editMode, width: 120,
             ...createSelectColumnProps(vacanteValidValues),},      
      { headerName: "Observaciones", field: "OBSERVACIONES", editable: () => editMode, resizable: true },           
      { headerName: "Observaciones Conflictos", field: "OBSERVACIONES CONFLICTOS", editable: () => editMode, resizable: true        },
    { headerName: "Observaciones Secretaría General", field: "OBSERVACIONES SECRETARIA GENERAL", editable: () => editMode,        resizable: true },
    ];

    const gridOptions = {
        columnDefs: datos,
        defaultColDef: {editable: true,resizable: true,},
        rowData: [],
        pagination: true,
        paginationPageSize: 20,
        cacheBlockSize: 10,
        rowHeight: 60,
        domLayout: "autoHeight",
        context: {
            endpoint: "/editarLicenciaSinGoce", // Funcion post
            municipios: [], // Lista de municipios
            comunidades: [], // Lista global de comunidades
            ccts: [], // Lista global de CCTs
            currentComunidades: [], // Para "sale"
            currentCCTs: [], // Para "sale"
            currentComunidadesEntra: [], // Nueva clave para "entra"
            currentCCTsEntra: [], // Nueva clave para "entra"
        },
     
        onCellValueChanged: editarCelda,
    };

   
    const columnVisibilityConfig = {
        cctsSaleEntra: [
        "np",
        "NOMBRE DEL DOCENTE",
        "tipo_movimiento",
        "CCT",
        "ORGANIZACION",
        "JUSTIFICA",
        "INICIO DEL MOVIMIENTO",
        "TÉRMINO DEL MOVIMIENTO",
        "DIAGNOSTICO",
        "VACANTE",
        "OBSERVACIONES",
        ],
        funcionDelete: [
        "Accion",
        "np",
        "fecha_registro",
        "fecha_documento",
        "NOMBRE DEL DOCENTE",
        "TIPO DE MOVIMIENTO",
        "cct_sale",
        "comunidad_sale",
        "municipio_sale",
        "ORGANIZACION",
        "JUSTIFICA",
        "INICIO DEL MOVIMIENTO",
        "TÉRMINO DEL MOVIMIENTO",
        "DIAGNOSTICO",
        "AVISO",
        "VACANTE",
        "OBSERVACIONES",
        "ANTIGUEDAD",
        "TELEFONO",
        "OBSERVACIONES CONFLICTOS",
        "OBSERVACIONES SECRETARIA GENERAL"

        ],
        all: [
        "np",
        "fecha_registro",
        "fecha_documento",
        "nombre_docente",
        "tipo_movimiento",
        "cct_sale",
        "comunidad_sale",
        "municipio_sale",
        "tipo_organizacion",
        "JUSTIFICA",
        "inicio_movimiento",
        "termino_movimiento",
        "DIAGNOSTICO",
        "AVISO",
        "VACANTE",
        "OBSERVACIONES",
        "antiguedad",
        "telefono",
        "OBSERVACIONES CONFLICTOS",
        "OBSERVACIONES SECRETARIA GENERAL"
        ],
    };
    
    window.externalFilterChanged = function (filterType) {
        if (!gridApi) {
            console.error("Grid API no está inicializado.");
            return;
        }
    
        if (filterType in columnVisibilityConfig) {
            const columnsToShow = columnVisibilityConfig[filterType];
    
            if (columnsToShow) {
                const allColumns = gridOptions.columnDefs.map((colDef) =>
                    colDef.field ? colDef.field : null
                );
    
                const columnsToHide = allColumns.filter(
                    (col) => col && !columnsToShow.includes(col)
                );
    
                columnsToHide.forEach((col) => gridApi.setColumnVisible(col, false));
                columnsToShow.forEach((col) => gridApi.setColumnVisible(col, true));
            } else {
                gridOptions.columnDefs.forEach((colDef) => {
                    gridApi.setColumnVisible(colDef.field, true);
                });
            }
        } else {
            console.warn(`Tipo de filtro desconocido: ${filterType}`);
        }
    };
    
    

    const initializeGrid = async () => {
        const gridDiv = document.querySelector("#myGrid");
        gridApi = agGrid.createGrid(gridDiv, gridOptions);
    
        try {
            const municipios = await fetchMunicipios();
            for (const municipio of municipios) {
                municipio.comunidades = await fetchComunidades(municipio.municipio_id);
            }
            gridOptions.context.municipios = municipios;
    
            // Obtén los datos desde el backend
            const data = await fetch("/getLicenciaSinGoce").then((response) =>
                response.json()
            );
    
            // Agrega el campo `tabla` dinámicamente
            const rowData = data.map((row) => ({
                ...row,
                tabla: "licencia_sin_goce", // Nombre de la tabla a la que pertenece esta fila
            }));
    
            // Establece los datos en la tabla
            gridApi.setGridOption("rowData", rowData);
    
            // Aplica el filtro inicial (opcional)
            externalFilterChanged("all");
        } catch (error) {
            console.error("Error inicializando la tabla:", error);
        }
    };
    
    // Alternar el modo edición
    document.querySelector("#toggleEditMode").addEventListener("click", async () => {
        if (editMode) {
            if (confirm("¿Estás seguro de los cambios?")) {
                editMode = false;
                const button = document.querySelector("#toggleEditMode");
                button.innerHTML = '<i class="fas fa-edit me-2"></i>Activar Edición';
                gridApi.refreshCells({ force: true }); // Refrescar las celdas
    
                // Recargar datos desde el servidor
                await reloadData();
            }
        } else {
            editMode = true;
            const button = document.querySelector("#toggleEditMode");
            button.innerHTML = '<i class="fas fa-times me-2"></i>Finalizar Edición';
            gridApi.refreshCells({ force: true }); // Refrescar las celdas para aplicar edición
        }
    });

    document.addEventListener("DOMContentLoaded", initializeGrid);
</script>