<div class="right_col" role="main">

    <br /><br /><br /><br />


    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><strong>Docentes Disponibles</strong></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link" style="padding-right: 25px;"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-sm-12"></div>
                <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30"></p>

                    <!-- Tabla de Docentes -->
                    <table id="datatable" class="table table-striped table-bordered text-center jambo_table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Np</th>
                                <th>Fecha</th>
                                <th>Estatus</th>
                                <th>Nombre</th>
                                <th>Situación</th>
                                <th>Antigüedad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>1</td>
                                <td>17/05/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: green;"></i>
                                </td>
                                <td>Delgado Maraña Diana Laura</td>
                                <td>
                                    A disposición
                                </td>
                                <td>30 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>4</td>
                                <td>12/06/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: orange;"></i>
                                </td>
                                <td>Toca Ramírez José Amado</td>
                                <td>
                                    Inseguridad
                                </td>
                                <td>25 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>5</td>
                                <td>12/06/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: green;"></i>
                                </td>
                                <td>María Cleofas Santos Avalos</td>
                                <td>
                                    Salud
                                </td>
                                <td>30 años de servicio</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>13</td>
                                <td>01/02/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: green;"></i>
                                </td>
                                <td>Héctor Manuel Fernández Carrillo</td>
                                <td>
                                    Sin CT
                                </td>
                                <td>20 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>17</td>
                                <td>01/02/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: green;"></i>
                                </td>
                                <td>José Silva Enriquez</td>
                                <td>
                                    A disposición
                                </td>
                                <td>10 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>22</td>
                                <td>01/02/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: red;"></i>
                                </td>
                                <td>Ávila Larreta Deisy Alondra</td>
                                <td>
                                    Inseguridad
                                </td>
                                <td>12 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>25</td>
                                <td>01/02/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: green;"></i>
                                </td>
                                <td>José Camilo de la Hoya</td>
                                <td>
                                    Salud
                                </td>
                                <td>5 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>26</td>
                                <td>01/02/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: orange;"></i>
                                </td>
                                <td>Carlos Alfredo Uribe de la Rosa</td>
                                <td>
                                    Sin CT
                                </td>
                                <td>8 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>29</td>
                                <td>08/07/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: green;"></i>
                                </td>
                                <td>Rocío del Carmen Ibarra Vázquez</td>
                                <td>
                                    A disposición
                                </td>
                                <td>4 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>30</td>
                                <td>08/07/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: orange;"></i>
                                </td>
                                <td>Samuel Ibarra Govea</td>
                                <td>
                                    Inseguridad
                                </td>
                                <td>11 años</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#detalleModal">
                                <td>31</td>
                                <td>08/07/2024</td>
                                <td>
                                    <i class="fa fa-circle" style="color: orange;"></i>
                                </td>
                                <td>CAMPOS MORALES VICTOR MANUEL</td>
                                <td>
                                    Salud
                                </td>
                                <td>9 años</td>
                            </tr>

                        </tbody>
                    </table>

                    <!-- Modal para Detalle del Docente -->
                    <div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="detalleModalLabel">Detalles del Docente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Nombre:</strong> José Díaz</p>
                                    <p><strong>Fecha de Registro:</strong> 17/05/2024</p>
                                    <p><strong>Estatus:</strong> Terminado</p>
                                    <p><strong>Observaciones:</strong> Entregado</p>
                                    <p><strong>Clave de salida:</strong> Activo</p>
                                    <p><strong>Ubicación:</strong> Laguna de la Lajas, Pueblo Nuevo</p>
                                    <p><strong>Clave de entrada:</strong> Activo</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>