<div class="container-fluid content-inner mt-n5 py-0">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title">
              <h4 class="h3 card-title ms-3 mt-2 text-responsive">Docentes Disponibles</h4>
            </div>
            <div class="btn-group mt-2" role="group" aria-label="Nuevo Registro">
             <!-- Botón "Nuevo" responsivo -->
             <button type="button" class="btn btn-primary btn-sm rounded-pill nuevo-btn ms-1" data-bs-toggle="modal" data-bs-target="#nuevoRegistroModal" data-action="nuevo">
                 Nuevo
             </button>
         </div>
            </div>

    <div class="card-body">
             <table id="listaGoce" class="datatable table table-striped text-responsive" style="width:100%;">
                <thead class="table-dark">
                    <tr>
                      <th></th>
                      <!-- <th>Acción</th> -->
                      <th>NP</th>
                        <th>Fecha Registro</th>
                        <th>Fecha Documento</th>
                        <th>Nombre del Docente</th>
                        <th>Tipo de Movimiento</th>
                        <th>CCT</th>
                        <th>Comunidad</th>
                        <th>Municipio</th>
                        <th>Organización</th>
                        <th>Justificación</th>
                        <th>Inicio del Movimiento</th>
                        <th>Término del Movimiento</th>
                        <th>Diagnóstico</th>
                        <th>Aviso</th>
                        <th>Vacante</th>
                        <th>Observaciones</th>
                        <th>Antigüedad</th>
                        <th>Teléfono</th>
                        <th>Observaciones Conflictos</th>
                        <!-- <th>Observaciones Secretaría General</th> -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Deja el tbody vacío cuando uses AJAX -->
                </tbody>
            </table>
    </div>
            </div>
      </div>
    </div>
</div>