<div class="container-fluid content-inner mt-n5 py-0">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="h3 card-title ms-3 mt-2">Pendientes</h4>
               </div>
               <div class="btn-group mt-2" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary btn-sm rounded-pill" data-bs-toggle="modal" data-bs-target="#nuevoRegistroModal">Nuevo</button>
                  <button type="button" class="btn btn-primary ms-2 btn-sm rounded-pill">Editar</button>
                  <button type="button" class="btn btn-primary ms-2 btn-sm rounded-pill">Borrar</button>
               </div>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table id="datatable" class="table table-striped" data-toggle="data-table">
                     <thead>
                        <tr>
                           <th>Np</th>
                           <th>Fecha</th>
                           <th>Estatus</th>
                           <th>Trámite</th>
                           <th>Titulo??</th>
                           <th>Observaciones conflictos</th>
                           <th>Observaciones Secretaría General</th>
                        </tr>
                     </thead>
                     <tbody>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="nuevoRegistroModal" tabindex="-1" aria-labelledby="nuevoRegistroModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg"> <!-- Se usa modal-xl para más espacio -->
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="nuevoRegistroModalLabel">Nueva entrada</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col">
                  <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                           <h4 class="card-title">Agregar Información</h4>
                        </div>
                     </div>
                     <div class="card-body">

                        <form id="formRegistro" action="#" method="post">
                           <input type="hidden" name="tabla" value="pendientes">
                           <div class="row">
                              <div class="form-group col-md-2">
                                 <label for="npID" class="form-label">NP:</label>
                                 <input type="text" class="form-control" id="npID" name="npID" placeholder="" autocomplete="off">
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="fecha" class="form-label">Fecha:</label>
                                 <input type="date" class="form-control" id="fecha" name="fecha">
                              </div>
                              <div class="form-group col-md-12">
                                 <label for="tramite" class="form-label">Trámite:</label>
                                 <input type="text" class="form-control" id="tramite" name="tramite" placeholder="">
                              </div>
                              <div class="form-group col-md-4">
                                 <label for="estatus" class="form-label">Estatus:</label>
                                 <select class="form-select form-select-sm" id="estatus" name="estatus">
                                    <option selected disabled>Seleccionar una opción</option>
                                    <option value="atendido">Atendido</option>
                                    <option value="en proceso">En proceso</option>
                                    <option value="no se atiende">No se atiende</option>
                                 </select>
                              </div>
                              <div class="form-group col-md-4">
                                 <label for="situacion" class="form-label">Situación:</label>
                                 <select class="form-select form-select-sm" id="situacion" name="situacion">
                                    <option selected disabled>Seleccionar una opción</option>
                                    <option value="a disposición">A disposición</option>
                                    <option value="inseguridad">Inseguridad</option>
                                    <option value="salud">Salud</option>
                                    <option value="sin ctp">Sin CT</option>
                                 </select>
                              </div>
                              <div class="form-group col-md-4">
                                 <label for="funcionDocente" class="form-label">Función del Docente:</label>
                                 <select class="form-select form-select-sm" id="funcionDocente" name="funcionDocente">
                                    <option selected disabled>Seleccionar una opción</option>
                                    <option value="docente">Docente</option>
                                    <option value="director">Director</option>
                                    <option value="administrativo">Administrativo</option>
                                 </select>
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="cobertura" class="form-label">Cobertura:</label>
                                 <select class="form-select form-select-sm" id="cobertura" name="cobertura">
                                    <option selected disabled>Seleccionar una opción</option>
                                    <option value="subdireccion_de_planeacion">Subdirección de Planeación</option>
                                    <option value="subdireccion_de_administracion">Subdirección de Administración</option>
                                    <option value="recursos_humanos">Recursos Humanos</option>
                                    <option value="usicamm">Usicamm</option>
                                    <option value="operacion_escolar">Operación Escolar</option>
                                    <option value="juridico">Jurídico</option>
                                    <option value="sin_definir">Sin Definir</option>
                                    <option value="semst">Semst</option>
                                 </select>
                              </div>
                              <div class="form-group col-md-12">
                                 <label for="observaciones" class="form-label">Observaciones:</label>
                                 <textarea class="form-control" id="observaciones" name="observaciones" placeholder="Escriba observaciones aquí"></textarea>
                              </div>
                           </div>
                           <div class="d-flex justify-content-center">
                              <button type="submit" class="btn btn-primary mt-3 col-3">Guardar</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>




