<div class="right_col" role="main">
    <div class="clear-fix">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><strong>Pendientes</strong></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">

                                    <table id="datatable" class="table table-striped table-bordered jambo_table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Np</th>
                                                <th>Fecha</th>
                                                <th>Estatus</th>
                                                <th>Trámite</th>
                                                <th>Start date</th>
                                                <th>Observaciones conflictos</th>
                                                <th>Observaciones secretaría general</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>17/05/2024</td>
                                                <td>EN PROCESO</td>
                                                <td>LAYAUT</td>
                                                <td>SUBDIRECCIÓN ACADÉMICA</td>
                                                <td>SE ESTÁ TRABAJANDO CON LAS SUBDIRECCIONES</td>
                                                <td>SE ESPERA RESPUESTA DE LA DIRECCIÓN</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>17/05/2024</td>
                                                <td>TERMINADO</td>
                                                <td>BECAS COMISIÓN</td>
                                                <td>USICAMM</td>
                                                <td>ACTUALMENTE SE CUBREN 5 DE MAESTRÍA Y 1 DE DOCTORADO</td>
                                                <td>SE AUTORIZA BECA COMISIÓN PARA OMAR DOZAL Y DIANA DENISSE GONZALEZ</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>17/05/2024</td>
                                                <td>NO SE ATIENDE</td>
                                                <td>ATP POR RECONOCIMIENTO</td>
                                                <td>SUBDIRECCIÓN ACADÉMICA</td>
                                                <td>SE SOLICITÓ INFORME DE CUANTOS SE VAN A AUTORIZAR</td>
                                                <td>EN ESPERA DE RESPUESTA DEL DEPARTAMENTO</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>17/05/2024</td>
                                                <td>TERMINADO</td>
                                                <td>JUAN MANUEL SALAZAR E ISABEL CARDOZA</td>
                                                <td>RECURSOS HUMANOS</td>
                                                <td>RESUELTO</td>
                                                <td>NO HAY OBSERVACIONES PENDIENTES</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>17/05/2024</td>
                                                <td>TERMINADO</td>
                                                <td>LISTADO DE ORDENAMIENTO Y ESCUELAS DEL PROCESO DE CAMBIOS</td>
                                                <td>SUBDIRECCIÓN ACADÉMICA</td>
                                                <td>LISTADO DE LUGARES DEFINITIVO PARA EL PROCESO</td>
                                                <td>PUBLICACIÓN DE LUGARES DEFINITIVOS</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>17/05/2024</td>
                                                <td>TERMINADO</td>
                                                <td>SOLICITUD DE ESTRUCTURA DEL MES DE MAYO E INSCRIPCIÓN</td>
                                                <td>OPERACIÓN ESCOLAR</td>
                                                <td>SE SOLICITÓ A ACADÉMICO</td>
                                                <td>EN PROCESO DE REVISIÓN</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>17/05/2024</td>
                                                <td>NO SE ATIENDE</td>
                                                <td>HOJA DEL COMITÉ PARA PIE</td>
                                                <td>RECURSOS HUMANOS</td>
                                                <td>FALTA DOCUMENTACIÓN</td>
                                                <td>SE ESTÁ SOLICITANDO EL INFORME</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>17/05/2024</td>
                                                <td>TERMINADO</td>
                                                <td>ESCUELAS DE REAPERTURA</td>
                                                <td>SUBDIRECCIÓN DE PLANEACIÓN</td>
                                                <td>ANEXO MAÍZ GORDO DE MIPILLAS PUEBLO NUEVO</td>
                                                <td>CAMBIO DE ESTATUS APROBADO</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>17/05/2024</td>
                                                <td>NO SE ATIENDE</td>
                                                <td>TREJO</td>
                                                <td>SIN DEFINIR</td>
                                                <td>MAESTRO DE CANATLÁN</td>
                                                <td>EN ESPERA DE ASIGNACIÓN</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>17/05/2024</td>
                                                <td>TERMINADO</td>
                                                <td>EDGAR LUNA</td>
                                                <td>SUBDIRECCIÓN ACADÉMICA</td>
                                                <td>SE REASIGNA A BANCOS DE CALITIQUE</td>
                                                <td>NO HAY OBSERVACIONES PENDIENTES</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>17/05/2024</td>
                                                <td>TERMINADO</td>
                                                <td>SERGIO FERNANDEZ ORONA</td>
                                                <td>SUBDIRECCIÓN ACADÉMICA</td>
                                                <td>SE LE BRINDÓ AL MAESTRO LA INFORMACIÓN CON REFERENCIA A SU ANTIGÜEDAD</td>
                                                <td>FINALIZADO CON ÉXITO</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>