<div class="container-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="container text-center">
                    <h4 class="text-responsive mb-3 mt-3">Pendientes</h4>
                    <div class="row justify-content-center gx-2" 
                    <<% if (role !== 'admin' && role !== 'super-admin') { %> style="display: none;" <% } %> 

                    <!-- Botón Nuevo -->
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary rounded-pill w-auto"
                            data-bs-toggle="modal" data-bs-target="#nuevoRegistroModal" data-action="nuevo"
                            style="padding: 4px 12px; font-size: 12px;" class="btn-sm">
                            Nuevo
                        </button>
                    </div>
                
                    <!-- Botón Activar Edición -->
                    <div class="col-auto">
                        <button id="toggleEditMode" class="btn btn-primary rounded-pill w-auto"
                            style="padding: 4px 12px; font-size: 12px;">
                            <i class="fas fa-edit me-1"></i> Activar Edición
                        </button>
                    </div>
                
               
               
                </div>
                
                    
                </div>
                <div class="card-body">
                    <div class="test-container">
                        <div class="test-header d-flex align-items-center">
                            <!-- Radio para 'Todos' -->
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="filter" id="all" onchange="externalFilterChanged('all')" checked>
                                <label for="all" class="form-check-label pl-2">Todos</label>
                            </div>
                            
                            <% if (role === 'admin' || role === 'super-admin') { %>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="filter" id="funcionDelete" onchange="externalFilterChanged('funcionDelete')">
                                    <label for="funcionDelete" class="form-check-label pl-2">Borrar entradas</label>
                                </div>
                            <% } %>
                            
                            
                        </div>
                        <div id="mygrid" class="ag-theme-quartz" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Crear-->
<div class="modal fade" id="nuevoRegistroModal"  tabindex="-1" aria-labelledby="nuevoRegistroModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Se usa modal-xl para más espacio -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoRegistroModalLabel">
                    Nueva entrada
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Columna izquierda para el perfil -->
                   

                    <!-- Columna derecha para el formulario -->
                    <div class="">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Información del nuevo usuario</h4>
                                </div>
                            </div>

                            <div class="card-body">
                                <form id="formRegistro" action="/guardarRegistro" method="POST" class="small">
                                    <input type="hidden" name="tabla" value="pendientes" />
                                    <div class="row">
                                        <!-- Fecha -->
                                        <div class="form-group col-md-12 col-lg-6">
                                            <label for="fecha" class="form-label">Fecha:</label>
                                            <input type="date" class="form-control" id="fecha" name="fecha" />
                                        </div>
                                    
                                        <!-- Estatus -->
                                        <div class="form-group col-md-6 col-lg-6">
                                            <label for="estatus" class="form-label">Estatus:</label>
                                            <select class="form-select form-select-sm" id="estatus" name="estatus">
                                                <option value="" selected disabled>Selecciona un estatus</option>
                                                <option value="Atendido">Atendido</option>
                                                <option value="En proceso">En proceso</option>
                                                <option value="Sin atender">Sin atender</option>
                                            </select>
                                        </div>
                                    
                                        <!-- Trámite -->
                                        <div class="form-group col-md-12">
                                            <label for="tramite" class="form-label">Trámite:</label>
                                            <input type="text" class="form-control" id="tramite" name="tramite" placeholder="Escribe el trámite" />
                                        </div>
                                    
                                        <!-- Departamento -->
                                        <div class="form-group col-md-12">
                                            <label for="departamento" class="form-label">Departamento:</label>
                                            <select class="form-control" id="departamento" name="departamento">
                                                <option value="Subdireccion De Planeacion">Subdireccion De Planeacion</option>
                                                <option value="Subdireccion De Administracion">Subdireccion De Administracion</option>
                                                <option value="Recursos Humanos">Recursos Humanos</option>
                                                <option value="Usicamm">Usicamm</option>
                                                <option value="Operacion Escolar">Operacion Escolar</option>
                                                <option value="Juridico">Juridico</option>
                                                <option value="Sin Definir">Sin Definir</option>
                                                <option value="Semst">Semst</option>
                                            </select>
                                        </div>
                                    
                                        <!-- Observaciones Conflictos -->
                                        <div class="form-group col-md-12">
                                            <label for="observaciones_conflictos" class="form-label">Observaciones Conflictos:</label>
                                            <textarea class="form-control" id="observaciones" name="observaciones_conflictos" placeholder="Escribe las observaciones de conflictos"></textarea>
                                        </div>
                                    
                                        <!-- Observaciones Secretaría General -->
                                        <div class="form-group col-md-12">
                                            <label for="observaciones_secretaria_general" class="form-label">Observaciones Secretaría General:</label>
                                            <textarea class="form-control" id="observaciones_secretaria_general" name="observaciones_secretaria_general" placeholder="Escribe las observaciones para la secretaría general"></textarea>
                                        </div>
                                    </div>
                                    
                                    <button type="button" id="btnMostrarConfirmacion" class="btn btn-primary mt-3">
                                        Guardar
                                    </button>
                                </form>

                                <div id="seccionConfirmacion" class="mt-4" style="display: none">
                                    <h5>Confirmar Datos Ingresados</h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Aquí mostraremos el resumen de los datos -->
                                            <div id="resumenDatos"></div>
                                        </div>
                                    </div>

                                   <!--Campo entra para que no se joda el sistema--> 
                                    <div id="hiddenFields" style="display: none;">
                                        <div>
                                            <div>
                                                <label for="municipio_entra" class="form-label">Municipio:</label>
                                                <input type="text" id="municipio_entra" name="municipio_entra" disabled>
                                            </div>
                                        
                                            <div>
                                                <label for="comunidad_entra" class="form-label">Comunidad:</label>
                                                <input type="text" id="comunidad_entra" name="comunidad_entra" disabled>
                                            </div>
                                        
                                            <div>
                                                <label for="cct_entra" class="form-label">Clave CCT:</label>
                                                <input type="text" id="cct_entra" name="cct_entra" disabled>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    
                                    <div class="d-flex justify-content-end mt-3">
                                        <button type="button" id="btnEditar" class="btn btn-secondary me-2"> Editar </button>
                                        <button type="button" id="btnConfirmar" class="btn btn-success"> Confirmar </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
   import { getStatusClass,statusRenderer,  funcionPost, editarCelda, createValidatedValueSetter, createSelectColumnProps, borrarColumna,  } from "./js/AgGrid/config.js";
   import * as Columnas from "./js/AgGrid/columNames.js";

   let gridApi;
   let editMode = false;

   const estatusValidValues = ["Terminado", "En proceso", "No se atiende"];
   

   const datos = [
   borrarColumna('/api/deleteRecord'),
   { field: "np", headerName: "NP", width: 70, editable: false },
   {...Columnas.colFecha(), editable: () => editMode,},
   {field: "estatus",headerName: "Estatus", editable: () => editMode, width: 120,
            ...createSelectColumnProps(estatusValidValues),},
    { headerName: "Trámite", field: "tramite",  minWidth: 300, wrapHeaderText: true, 
    autoHeaderHeight: true,    cellStyle: { "white-space": "normal", "line-height": "1.7" }, autoHeight: true, 
    editable: () => editMode },
    { headerName: "Departamento", field: "departamento",minWidth: 300, editable: () => editMode,  resizable: true, cellEditor: "agSelectCellEditor", cellEditorParams: {
            values: [
                "SUBDIRECCION ACADEMICA",
                "SUBDIRECCION DE PLANEACION",
                "SUBDIRECCION DE ADMINISTRACION",
                "RECURSOS HUMANOS",
                "USICAMM",
                "OPERACION ESCOLAR",
                "JURIDICO",
                "SIN DEFINIR",
                "SEMST"
            ], 
        },
    },
    { field: "observaciones_conflictos", headerName: "Observaciones", minWidth: 450, wrapHeaderText: true, 
    autoHeaderHeight: true,    cellStyle: { "white-space": "normal", "line-height": "1.7" }, autoHeight: true, 
    editable: () => editMode },
    { headerName: "Observaciones Secretaría General", field: "observaciones_secretaria_general", editable: () => editMode, wrapHeaderText: true,  resizable: true, minWidth: 500,
    },

 ];

   const gridOptions = {
       columnDefs: datos,
       defaultColDef: {editable: true,resizable: true,},
       rowData: null,
       rowHeight: 60,
       domLayout: "autoHeight",
       context: {
           endpoint: "/editarPendientes",
       },
       onCellValueChanged: editarCelda,
   };

   const columnVisibilityConfig = {
    
    funcionDelete: [
    "Accion",
   "np", "estatus", "tramite", "departamento", "observaciones_conflictos", "observaciones_secretaria_general",
    ],
    all: [
    "Accion", "np", "estatus", "tramite", "departamento", "observaciones_conflictos", "observaciones_secretaria_general",
],
};

window.externalFilterChanged = function (filterType) {
    if (!gridApi) {
        console.error("Grid API no está inicializado.");
        return;
    }

    if (filterType in columnVisibilityConfig) {
        const columnsToShow = columnVisibilityConfig[filterType];

        if (columnsToShow) {
            const allColumns = gridOptions.columnDefs.map((colDef) =>
                colDef.field ? colDef.field : null
            );

            const columnsToHide = allColumns.filter(
                (col) => col && !columnsToShow.includes(col)
            );

            columnsToHide.forEach((col) => gridApi.setColumnVisible(col, false));
            columnsToShow.forEach((col) => gridApi.setColumnVisible(col, true));
        } else {
            gridOptions.columnDefs.forEach((colDef) => {
                gridApi.setColumnVisible(colDef.field, true);
            });
        }
    } else {
        console.warn(`Tipo de filtro desconocido: ${filterType}`);
    }
};

   const initializeGrid = async () => {
    const gridDiv = document.querySelector("#mygrid");
    gridApi = agGrid.createGrid(gridDiv, gridOptions);

    try {
        // Obtén los datos desde el backend
        const data = await fetch("/getPendientes").then((response) => response.json());

        // Agrega el campo `tabla` dinámicamente
        const rowData = data.map((row) => ({
            ...row,
            tabla: "pendientes", // Nombre de la tabla
        }));

        // Asigna los datos al grid
        gridApi.setGridOption("rowData", rowData);

        externalFilterChanged("all");
    } catch (error) {
        console.error("Error inicializando la tabla:", error);
    }
};

   document.querySelector("#toggleEditMode").addEventListener("click", async () => {
       if (editMode) {
           if (confirm("¿Estás seguro de los cambios?")) {
               editMode = false;
               const button = document.querySelector("#toggleEditMode");
               button.innerHTML = '<i class="fas fa-edit me-2"></i>Activar Edición';
               gridApi.refreshCells({ force: true }); // Refrescar las celdas
   
               // Recargar datos desde el servidor
               await reloadData();
           }
       } else {
           editMode = true;
           const button = document.querySelector("#toggleEditMode");
           button.innerHTML = '<i class="fas fa-times me-2"></i>Finalizar Edición';
           gridApi.refreshCells({ force: true }); // Refrescar las celdas para aplicar edición
       }
   });

   document.addEventListener("DOMContentLoaded", initializeGrid);
</script>



