<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Bootstrap Datatables</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped" data-toggle="data-table">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Nombre del Docente</th>
                                    <th class="d-none d-md-table-cell">Np</th>
                                    <th class="d-none d-md-table-cell">Fecha</th>
                                    <th class="d-none d-lg-table-cell">Estatus</th>
                                    <th class="d-none d-lg-table-cell">Antigüedad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Fila 1 -->
                                <tr>
                                    <td>
                                        <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </td>
                                    <td>Delgado Maraña Diana Laura</td>
                                    <td class="d-none d-md-table-cell">1</td>
                                    <td class="d-none d-md-table-cell">17/05/2024</td>
                                    <td class="d-none d-lg-table-cell">ATENDIDO</td>
                                    <td class="d-none d-lg-table-cell">30 años</td>
                                </tr>
                                <!-- Fila expandible 1 -->
                                <tr>
                                    <td colspan="6" class="m-0 p-0">
                                        <div class="collapse" id="collapseOne">
                                            <div class="p-1 card-body">
                                                <!-- Información en modo responsive -->
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="d-md-none">
                                                                <td>
                                                                    <strong>Np:</strong> 1 <br>
                                                                    <strong>Fecha:</strong> 17/05/2024
                                                                </td>
                                                            </tr>
                                                            <tr class="d-md-none">
                                                                <td><strong>Estatus:</strong> ATENDIDO</td>
                                                            </tr>
                                                            <tr class="d-md-none">
                                                                <td><strong>Antigüedad:</strong> 30 años</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="d-md-none">
                                                                <td><strong>Observaciones:</strong></td>
                                                            </tr>
                                                            <tr class="d-md-none">
                                                                <td colspan="0" style=" white-space: normal;">SE
                                                                    ENCUENTRAN EN ESOS ESPACIOS HASTA EL TERMINO DEL
                                                                    CICLO ESCOLAR</td>
                                                            </tr>
                                                            <tr class="d-none d-md-table-row">
                                                                <td colspan="6" class="text-start">
                                                                    <strong>Observaciones:</strong> SE ENCUENTRAN EN
                                                                    ESOS ESPACIOS HASTA EL TERMINO DEL CICLO ESCOLAR
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Subtabla CCT Sale -->
                                                <!-- Botón para Mostrar CCTs (solo visible en sm y md) -->
                                                <div class="text-center pb-3">
                                                    <button class="btn btn-primary rounded-pill d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#cctsCollapse" aria-expanded="false" aria-controls="cctsCollapse">
                                                        CCTS
                                                    </button>
                                                </div>

                                                <!-- Collapse para las tablas CCT Sale y CCT Entra (solo en sm y md) -->
                                                <div class="collapse d-md-none ps-2 pb-3" id="cctsCollapse">
                                                    <!-- Subtabla CCT Sale -->
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <h6 class="pt-1 pb-2 h5">CCT Sale</h6>
                                                                <tr>
                                                                    <th class="d-none d-md-table-cell">Situación
                                                                    </th>
                                                                    <th class="d-none d-md-table-cell">Clave CCT
                                                                        Sale</th>
                                                                    <th class="d-none d-md-table-cell">Comunidad
                                                                    </th>
                                                                    <th class="d-none d-md-table-cell">Municipio
                                                                    </th>
                                                                    <th class="d-none d-md-table-cell">Estatus</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Situación:</strong> CUBIERTA</td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Clave CCT Sale:</strong> 10DTV0025K
                                                                    </td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Comunidad:</strong> Pilar de
                                                                        Zaragoza</td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Municipio:</strong> Durango</td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Estatus:</strong> No aplica</td>
                                                                </tr>
                                                                <tr class="d-none d-md-table-row">
                                                                    <td>CUBIERTA</td>
                                                                    <td>10DTV0025K</td>
                                                                    <td>Pilar de Zaragoza</td>
                                                                    <td>Durango</td>
                                                                    <td>No aplica</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <!-- Subtabla CCT Entra -->
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <h6 class="pb-2 ps-2 h5">CCT Entra</h6>
                                                                <tr>
                                                                    <th class="d-none d-md-table-cell">Situación
                                                                    </th>
                                                                    <th class="d-none d-md-table-cell">Clave CCT
                                                                        Entra</th>
                                                                    <th class="d-none d-md-table-cell">Comunidad
                                                                    </th>
                                                                    <th class="d-none d-md-table-cell">Municipio
                                                                    </th>
                                                                    <th class="d-none d-md-table-cell">Observaciones
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Situación:</strong> CUBIERTA</td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Clave CCT Entra:</strong> 10DTV0025K
                                                                    </td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Comunidad:</strong> Pilar de
                                                                        Zaragoza</td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td><strong>Municipio:</strong> Durango</td>
                                                                </tr>
                                                                <tr class="d-md-none">
                                                                    <td colspan="0" style=" white-space: normal;">
                                                                        <strong>Observaciones:</strong> LO VA A
                                                                        PONER A DISPOSICIÓN EL SUPERVISOR 2:45
                                                                        ssfsfdMIN
                                                                    </td>
                                                                </tr>
                                                                <tr class="d-none d-md-table-row">
                                                                    <td>CUBIERTA</td>
                                                                    <td>10DTV0025K</td>
                                                                    <td>Pilar de Zaragoza</td>
                                                                    <td>Durango</td>
                                                                    <td scope="row" colspan="1"
                                                                        style="max-width: 10px; white-space: normal; word-wrap: break-word;">
                                                                        LO VA A PONER A DISPOSICIÓN EL SUPERVISOR
                                                                        2:45 MINsss
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <!-- Subtabla CCT Sale (md en adelante) -->
                                                <div class="table-responsive d-none d-md-block">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <h6 class="pt-1 pb-2 h5 text-center">CCT Sale</h6>
                                                            <tr>
                                                                <th>Situación</th>
                                                                <th>Clave CCT Sale</th>
                                                                <th>Comunidad</th>
                                                                <th>Municipio</th>
                                                                <th>Estatus</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>CUBIERTA</td>
                                                                <td>10DTV0025K</td>
                                                                <td>Pilar de Zaragoza</td>
                                                                <td>Durango</td>
                                                                <td>No aplica</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <!-- Subtabla CCT Entra (md en adelante) -->
                                                <div class="table-responsive d-none d-md-block">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <h6 class="pb-2 h5 text-center">CCT Entra</h6>
                                                            <tr>
                                                                <th>Situación</th>
                                                                <th>Clave CCT Entra</th>
                                                                <th>Comunidad</th>
                                                                <th>Municipio</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>CUBIERTA</td>
                                                                <td>10DTV0025K</td>
                                                                <td>Pilar de Zaragoza</td>
                                                                <td>Durango</td>
                                                            </tr>
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr class="d-md-none">
                                                                            <td><strong>Observaciones:</strong></td>
                                                                        </tr>
                                                                        <tr class="d-md-none">
                                                                            <td colspan="0" style=" white-space: normal;">SE
                                                                                ENCUENTRAN EN ESOS ESPACIOS HASTA EL TERMINO DEL
                                                                                CICLO ESCOLAR</td>
                                                                        </tr>
                                                                        <tr class="d-none d-md-table-row">
                                                                            <td colspan="6" class="text-start">
                                                                                <strong>Observaciones:</strong> SE ENCUENTRAN EN
                                                                                ESOS ESPACIOS HASTA EL TERMINO DEL CICLO ESCOLAR
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



