.form-group.col-md-10 {
  position: relative; /* Asegura que los elementos posicionados dentro se alineen correctamente */
}



.list-group-item {
  white-space: nowrap; /* Asegura que el texto esté en una sola línea */
  overflow: hidden; /* Oculta cualquier contenido que exceda el ancho */
  text-overflow: ellipsis; /* Muestra "..." al final del texto desbordado */
  padding: 8px 12px; /* Ajusta el padding para una mejor experiencia visual */
  font-size: 14px; /* Tamaño de fuente legible */
  line-height: 1.5; /* Mejora la legibilidad */
}

.list-group-item-action {
  cursor: pointer; /* Añade un indicador visual de interactividad */
  transition: background-color 0.2s ease; /* Transición suave al pasar el cursor */
}

.list-group-item-action:hover {
  background-color: #f8f9fa; /* Cambia el fondo al pasar el cursor */
}






/* Cambia el color del switch cuando está en pausa */
.form-check-input.bg-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  /* Cambia el color del switch cuando está activo */
  .form-check-input.bg-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  .modal-header {
    background-color: #0d6efd; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto a blanco */
}

.modal-header .btn-close {
    filter: invert(1); /* Cambia el color de la cruz a blanco */
}


  /* Fondo degradado */
.gradient-bg {
  background: linear-gradient(to bottom, #2c50c9, #2942a4);
  padding: 20px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Estilo de la imagen circular con borde blanco y sombra */
/* Fondo degradado */
.gradient-bg {
  background: linear-gradient(to bottom, #2c50c9, #2942a4);
  padding: 20px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Estilo de la imagen circular centrada */
.avatar-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover; /* Asegura que la imagen se recorte sin distorsionarse */
}

.bg-image {
  background-image: url('/images/dashboard/top-header.png'); /* Cambia la ruta a la ubicación de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: 300px; /* Ajusta según sea necesario */
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos hijos en el centro */
  justify-content: center; /* Centra los elementos verticalmente */
}

.av-border {
  border: 5px solid #fff;
  box-shadow: 
    2px 20px 100px rgb(0, 0, 0, 0.5), /* Sombra externa */
    inset 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra interna */
}


.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}
.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}

.card-header {
    border-bottom-width: 1px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid #e5e9f2;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.profile-media {
  padding: 0.3rem 0; /* Reducir espaciado */
}
.profile-media:nth-child(odd) {
  background-color: #f8f9fa; /* Color claro para el estilo zebra */
}
.profile-media:nth-child(even) {
  background-color: #ffffff; /* Color de fondo normal */
}

.badge-custom {
  min-width: 80px;
  max-width: 100px; /* Ajusta el ancho según tus necesidades */
  display: inline-block; /* Asegura que el ancho tenga efecto */
  text-align: center; /* Centra el texto */
  font-size: .8rem; /* Ajusta el tamaño de fuente según tus necesidades */
  padding: 3px 1px;
  border-radius: 8px;
}

/*Tablas*/

th:first-child, 
td:first-child {
  padding: auto;
  margin: auto;
}


/* Estilos comunes */
.btn-status {
  display: inline-block;
  width: 75px;
  height: 27px;
  line-height: 22px;
  text-align: center;
  border-radius: 17px;
  font-size: 11px;
  padding: 0;
  text-decoration: none;
  border: 1px solid transparent;
}

.btn-atendido,
.btn-cubierta {
  color: #9eeac3;
  border-color: #9eeac3;
}

.btn-en-proceso,
.btn-sin-cubrir {
  color: #58b0d8;
  border-color: #58b0d8;
}

.btn-sin-atender,
.btn-no-se-justifica {
  color: #ce4257;
  border-color: #ce4257;
}

.btn-salud{
  color: #8aebb9;
  border-color: #8aebb9;
}

.btn-sin-ct{
  color: #1ae7c3;
  border-color: #1ae7c3;
}

.btn-inseguridad{
  color: #ce4257;
  border-color: #ce4257;
}

.test-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-header {
  font-size: 13px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

