.form-group.col-md-10 {
  position: relative; /* Asegura que los elementos posicionados dentro se alineen correctamente */
}

.list-group-item {
  white-space: nowrap; /* Asegura que el texto esté en una sola línea */
  overflow: hidden; /* Oculta cualquier contenido que exceda el ancho */
  text-overflow: ellipsis; /* Muestra "..." al final del texto desbordado */
  padding: 8px 12px; /* Ajusta el padding para una mejor experiencia visual */
  font-size: 14px; /* Tamaño de fuente legible */
  line-height: 1.5; /* Mejora la legibilidad */
}

.list-group-item-action {
  cursor: pointer; /* Añade un indicador visual de interactividad */
  transition: background-color 0.2s ease; /* Transición suave al pasar el cursor */
}

.list-group-item-action:hover {
  background-color: #f8f9fa; /* Cambia el fondo al pasar el cursor */
}



/* Cambia el color del switch cuando está en pausa */
.form-check-input.bg-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  /* Cambia el color del switch cuando está activo */
  .form-check-input.bg-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  .modal-header {
    background-color: #0d6efd; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto a blanco */
}

.modal-header .btn-close {
    filter: invert(1); /* Cambia el color de la cruz a blanco */
}


  /* Fondo degradado */
.gradient-bg {
  background: linear-gradient(to bottom, #2c50c9, #2942a4);
  padding: 20px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Estilo de la imagen circular con borde blanco y sombra */
/* Fondo degradado */
.gradient-bg {
  background: linear-gradient(to bottom, #2c50c9, #2942a4);
  padding: 20px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Estilo de la imagen circular centrada */
.avatar-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover; /* Asegura que la imagen se recorte sin distorsionarse */
}

.bg-image {
  background-image: url('/images/dashboard/top-header.png'); /* Cambia la ruta a la ubicación de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: 300px; /* Ajusta según sea necesario */
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos hijos en el centro */
  justify-content: center; /* Centra los elementos verticalmente */
}

.av-border {
  border: 5px solid #fff;
  box-shadow: 
    2px 20px 100px rgb(0, 0, 0, 0.5), /* Sombra externa */
    inset 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra interna */
}


.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}
.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}

.card-header {
    border-bottom-width: 1px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid #e5e9f2;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.profile-media {
  padding: 0.3rem 0; /* Reducir espaciado */
}
.profile-media:nth-child(odd) {
  background-color: #f8f9fa; /* Color claro para el estilo zebra */
}
.profile-media:nth-child(even) {
  background-color: #ffffff; /* Color de fondo normal */
}

.badge-custom {
  min-width: 80px;
  max-width: 100px; /* Ajusta el ancho según tus necesidades */
  display: inline-block; /* Asegura que el ancho tenga efecto */
  text-align: center; /* Centra el texto */
  font-size: .8rem; /* Ajusta el tamaño de fuente según tus necesidades */
  padding: 3px 1px;
  border-radius: 8px;
}

/*Tablas*/

th:first-child, 
td:first-child {
  padding: auto;
  margin: auto;
}


/* Estilos comunes */
.btn-status {
  display: inline-block;
  width: 75px;
  height: 27px;
  line-height: 22px;
  text-align: center;
  border-radius: 17px;
  font-size: 11px;
  padding: 0;
  text-decoration: none;
  border: 1px solid transparent;
}

.btn-atendido,
.btn-cubierta {
  color: #9eeac3;
  border-color: #9eeac3;
}

.btn-en-proceso,
.btn-sin-cubrir {
  color: #58b0d8;
  border-color: #58b0d8;
}

.btn-sin-atender,
.btn-no-se-justifica {
  color: #ce4257;
  border-color: #ce4257;
}

.btn-salud{
  color: #8aebb9;
  border-color: #8aebb9;
}

.btn-sin-ct{
  color: #1ae7c3;
  border-color: #1ae7c3;
}

.btn-inseguridad{
  color: #ce4257;
  border-color: #ce4257;
}


AG 


.test-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-header {
  font-size: 13px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}


.list-inline-item {
  margin-bottom: 10px; /* Reduce el espacio entre los items */
}

.timeline-dots {
  margin-right: 10px; /* Ajusta la distancia entre el punto y el texto */
}

.timeline-dots.timeline-dot1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px; /* Reduce el margen entre el punto y el texto */
}

h6 {
  margin-bottom: 5px; /* Reduce el margen entre el título (key) y el contenido (value) */
}

p {
  margin-bottom: 0px; /* Elimina el margen debajo de cada párrafo de contenido */
}
/* 
boton de trash roles */
.delete-btn:hover {
  color: gray !important; /* Cambia el color a gris al pasar el mouse */
}

.delete-btn:active {
  color: var(--bs-primary) !important; /* Cambia el color al azul primario de Bootstrap al hacer clic */
}

/* AG Grid style */

.centrar-celda {
  text-align: center;  /* Centra el texto horizontalmente */
  display: flex;
  justify-content: center;  /* Centra el contenido de manera flexible */
  align-items: center;  /* Centra el contenido verticalmente */
}

.ag-header-cell {
  background-color: #0f76ba;  /* Color de fondo para todos los encabezados */
  color: white;            /* Color de texto blanco */
}

.ag-background-color {
  background-color: #050709;  /* Color de fondo para todos los encabezados */
}




#suggestionsList {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Ocultar inicialmente */
  list-style: none;
  padding: 0;
  margin: 0;
}

#suggestionsList .list-group-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

#suggestionsList .list-group-item:last-child {
  border-bottom: none;
}

#suggestionsList .list-group-item:hover {
  background-color: #f0f0f0;
}


/* estilos para editar perfil */
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}


ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}



.tracking-detail {
  padding:3rem 0
 }
 #tracking {
  margin-bottom:1rem
 }
 [class*=tracking-status-] p {
  margin:0;
  font-size:1.1rem;
  color:#fff;
  text-transform:uppercase;
  text-align:center
 }
 [class*=tracking-status-] {
  padding:1.6rem 0
 }
 .tracking-status-intransit {
  background-color:#65aee0
 }
 .tracking-status-outfordelivery {
  background-color:#f5a551
 }
 .tracking-status-deliveryoffice {
  background-color:#f7dc6f
 }
 .tracking-status-delivered {
  background-color:#4cbb87
 }
 .tracking-status-attemptfail {
  background-color:#b789c7
 }
 .tracking-status-error,.tracking-status-exception {
  background-color:#d26759
 }
 .tracking-status-expired {
  background-color:#616e7d
 }
 .tracking-status-pending {
  background-color:#ccc
 }
 .tracking-status-inforeceived {
  background-color:#214977
 }
 .tracking-list {
  border:1px solid #e5e5e5
 }
 .tracking-item {
  border-left:1px solid #e5e5e5;
  position:relative;
  padding:2rem 1.2rem .5rem 2.5rem;
  font-size:.9rem;
  margin-left:3rem;
  min-height:5rem
 }
 .tracking-item:last-child {
  padding-bottom:4rem
 }
 .tracking-item .tracking-date {
  margin-bottom:.5rem
 }
 .tracking-item .tracking-date span {
  color:#888;
  font-size:85%;
  padding-left:.4rem
 }
 .tracking-item .tracking-content {
  padding:.5rem .8rem;
  background-color:#f4f4f4;
  border-radius:.5rem
 }
 .tracking-item .tracking-content span {
  display:block;
  color:#888;
  font-size: 1rem
 }
 .tracking-item .tracking-icon {
  line-height:2.6rem;
  position:absolute;
  left:-1.3rem;
  width:2.6rem;
  height:2.6rem;
  text-align:center;
  border-radius:50%;
  font-size:1.1rem;
  background-color:#fff;
  color:#fff
 }
 .tracking-item .tracking-icon.status-sponsored {
  background-color:#f68
 }
 .tracking-item .tracking-icon.status-delivered {
  background-color:#4cbb87
 }
 .tracking-item .tracking-icon.status-outfordelivery {
  background-color:#f5a551
 }
 .tracking-item .tracking-icon.status-deliveryoffice {
  background-color:#f7dc6f
 }
 .tracking-item .tracking-icon.status-attemptfail {
  background-color:#b789c7
 }
 .tracking-item .tracking-icon.status-exception {
  background-color:#d26759
 }
 .tracking-item .tracking-icon.status-inforeceived {
  background-color:#214977
 }
 .tracking-item .tracking-icon.status-intransit {
  color:#e5e5e5;
  border:1px solid #e5e5e5;
  font-size:.9rem
 }
 @media(min-width:992px) {
  .tracking-item {
   margin-left:10rem
  }
  .tracking-item .tracking-date {
   position:absolute;
   left:-10rem;
   width:7.5rem;
   text-align:right
  }
  .tracking-item .tracking-date span {
   display:block
  }
  .tracking-item .tracking-content {
   padding:0;
   background-color:transparent
  }
 }