<table id="datatable" class="table table-striped" data-toggle="data-table">
    <thead>
       <tr class="ligth">
          <th>Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Country</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>aasssssx</td>
          <td>(760) 765 2658</td>
          <td>budwiser@ymail.com</td>
          <td>USA</td>
       </tr>
       <tr>
          <td>aaasssddddaaronottix</td>
          <td>(760) 765 2658</td>
          <td>budwiser@ymail.com</td>
          <td>USA</td>
       </tr>
    </tbody>
 </table>