<div class="table-responsive">
    <table id="datatable" class="table" data-toggle="data-table" data-editable-table data-tabla="historial_lista_pendientes">
      <thead class="table-primary"> 
        <tr>
          <th class="text-center" style="width: 30px;">NP</th>
          <th class="text-center" style="width: 50px;">Fecha Término</th>
          <th class="text-center" style="max-width: 100px;">Estatus</th>
          <th class="text-center" style="width: 150px;">Trámite</th>
          <th class="text-center d-none d-md-table-cell" style="width: 120px;">Departamento</th> 
          <th class="text-center d-none d-lg-table-cell">Observaciones Conflictos</th> 
        </tr>
      </thead>
      <tbody>
        <tr data-np="123">
          <td class="text-gray fw-bold text-center" style="width: 30px;">123</td>
          <td class="text-gray text-center">01/01/2022</td>
          <td class="text-center">
            <span class="badge rounded-pill bg-primary">
              Terminado
            </span>
          </td>
          <td class="text-gray" style="max-width: 150px; white-space: normal; word-wrap: break-word;">
            <span>Trámite A</span>
          </td>
          <td class="text-center text-gray d-none d-md-table-cell">
            <span>Departamento A</span>
          </td>
          <td class="text-gray d-none d-lg-table-cell" style="max-width: 250px; white-space: normal; word-wrap: break-word;">
            <span>Observación de conflicto 1</span>
          </td>
        </tr>
        <!-- Puedes agregar más filas aquí -->
      </tbody>
      <tfoot>
        <tr>
          <th class="text-center" style="width: 30px;">NP</th>
          <th class="text-center" style="width: 100px;">Fecha Término</th>
          <th class="text-center" style="max-width: 100px;">Estatus</th>
          <th class="text-center" style="width: 150px;">Trámite</th>
          <th class="text-center d-none d-md-table-cell" style="width: 120px;">Departamento</th>
          <th class="text-center d-none d-lg-table-cell">Observaciones Conflictos</th>
        </tr>
      </tfoot>
    </table>
  </div>
  